
<!--Navbar Component Selector-->
<app-navbar></app-navbar>

<!--Header-->
<div class="header">
    <div class="title-header">
        <h1 class="one">Book With Us <br>And Enjoy Your <br>Journey! </h1>
        <h1 class="two"></h1>
    </div>
</div>

<!--Reserve and Rent Component-->

<div class="container">

    <!--Angular Material Tab-->
    <mat-tab-group animationDuration="0ms">
        <mat-tab>
        <ng-template mat-tab-label>
            <span class="iconify" data-icon="mdi:car-seat" data-width="30" data-height="30"></span>
            <button class= btn>Reserve Seat</button>
        </ng-template>
        <form class="email-box" action="#">
            <div class="input-box">
            <input type="text" placeholder="Email:">
          </div>
          <div class="input-box">
            <input type="text" placeholder="Name:">
          </div>
           <div class="input-box">
            <input type="text" placeholder="Subject:">
          </div>
          <div class="input-box body">
             <textarea placeholder="Your Message here.."></textarea>
          </div>
       </form>
        </mat-tab>
    
        <mat-tab>
        <ng-template mat-tab-label>
            <span class="iconify" data-icon="fa-solid:shuttle-van" data-width="30" data-height="30"></span>
            <button class= btn>Rent Van</button>
        </ng-template>
        Content 2
        </mat-tab>
    </mat-tab-group>
    
</div>